body {
}

#map {
  float:left;
}

#map .country path {
  fill: #ddd;
  stroke: #aaa;
}

#map .graticule path {
  fill: none;
  stroke: #e0e0e0;
}

#countryInfo {
  float:left;
}

#tooltip {
  opacity: 0; 
  position: absolute; 
  top: 0; 
  right: 0; 
  text-align: center; 
  margin: 0; 
  padding: 0em; 
  background:#fff; 
  border: 1px; 
  border-style: solid; 
  border-color:black; 
  width:8em
}
