body {
  font-family: sans-serif;
}

#visContainer {
  float:left;
  width:1120;
}

.menu {
  background-color:#ddd;
  padding:0.5em;
  margin-right:1em;
  border:1px solid #555;
}

.menubutton {
  border:1px solid black;
  padding-left:2px;
  padding-right:2px;
}

.menubutton:hover {
  background-color: lightblue !important;
}

.key {
  font-size:11pt;
}

.key text {
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: green;
}

#map {
  float:left;
}

#map .country path {
  fill: #ddd;
  stroke: #aaa;
}

#map .graticule path {
  fill: none;
  stroke: #e0e0e0;
}

#countryInfo {
  float:left;
}

#countryInfo svg {
  margin-left:1em;
  margin-right:0em;
}

.barlabel {
  font-size:8pt;
  text-anchor:start;
}

#tooltip {
  opacity: 0; 
  position: absolute; 
  top: 0; 
  right: 0; 
  text-align: center; 
  margin: 0; 
  padding: 0em; 
  background:#fff; 
  border: 1px; 
  border-style: solid; 
  border-color:black; 
  width:8em
}
